<html lang="en">
<%- include("partials/header") %>
<body>
<div class="">
    <p class="fw-bold"> Todo List </p>
    <div>
        <a class="btn" href="/addTodo"> Add todo </a>
    </div>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
            <th>Title</th>
        </tr>
        <tr>
            <% for(let i=0; i < todos.length; i++ ){ %>
                <td> <%= todos[i].title %> </td>
                <td> <%= todos[i].desc %> </td>
                <td> <%= moment(todos[i].createdAt).format("MMM DD, YYYY, HH:mm:ss")%> </td>
                <td> <%= moment(todos[i].updatedAt).format("MMM DD, YYYY, HH:mm:ss")%> </td>
                <td>
                    <a href="/updateTodo" class="btn btn-danger"> Edit </a>
                    <a href="/deleteTodo" class="btn"> Delete </a>
                </td>
            <% } %>
        </tr>
    </table>
</div>
</body>
</html>
